body {
    margin: 0;
    background: linear-gradient(#0A0B10, #0B0B0F);
    scroll-behavior: smooth;
}

/* Header Navigation */

.header {
    
}

.nav-bar {
    /* background-color: #0A0B10; */
    position: fixed;
    right: 0; top: 0; left: 0;
    background-color: #0A0B10;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 30px 30px;
    transition: height ease-out 0.2s, background-color ease-in 0.3s;
    z-index: 1000;
}

.nav-bar:hover {
    height: 90px;
    background-color: #14141a;
}

.nav-bar:hover > .nav-logo {
    font-size: 4rem;
}

.nav-logo {
    display: flex;
    color: #66FCF1;
    align-items: center;
    font-size: 3rem;
    margin-left: 30px;
    transition: font-size ease-in 0.21s;
    cursor: default;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.nav-item {
    list-style: none;
    margin: 0 20px;
}

.nav-item-link {
    position: relative;
    transition: font-size ease-in 0.21s;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    font-family: '', sans-serif;
    transition: color ease-in 0.05s;
}

.nav-item-link::before {
    content: "";
    position: absolute;
    height: 0.8px; width: 100%;
    bottom: -5px;
    background-color: var(--yellow-color);
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.nav-item-link:hover {
    color: var(--yellow-color);
}

.nav-item-link:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.nav-item-link--chosen {
    color: var(--yellow-color);
}
.content {
    margin-top: 80px;
}

/* Content */

.content {
    /* position: relative; */
}

.content_top {
}

.content_top-event {
    position: relative;
}

.content_top-event img {
    width: 100%;
}

.content_top-event:hover > p {
    opacity: 1;
}

.content_top-event p {
    color: var(--white-color);
    font-size: 1.6vw;
    text-shadow: var(--brown-color) 3px 3px 0px;
    position: absolute;
    top: 55%; left: 11%;
    opacity: 0;
    transition: opacity ease-in 0.1s;
}

.content_feature {
    padding: 0 13vw;
    margin-top: 40px;
}

.content_feature p {
    color: var(--white-color);
    font-size: 1.6rem;
    margin-left: 20px;
}

.content_feature-images-slide {
    display: flex;
}

.content_feature_box {
    background-color: var(--brown-color);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.content_feature-img {
    flex: 1.5;
    border-radius: 10px 0 0 10px;
    width: 100%;
}

.content_feature_info {
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content_feature_info-title {
    font-size: 3.6rem;
    color: var(--white-color);
    margin: 20px auto 0 auto;
}

.content_feature_info-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 10px auto;
}

.content_feature_info-img img {
    border-radius: 5px;
    margin: 5px;
    width: 40%;
    opacity: 0.5;
}

.content_feature_info-state {
    color: var(--white-color);
    font-size: 1.6rem;
    margin-left: 31px;
}

.content_feature_info-sale {
    display: flex;
    justify-content: center;
}

.top_seller {
    margin: auto 0;
    font-size: 1rem;
    background-color: var(--gray-color);
    color: var(--brown-color);
    padding: 2px 5px;
    border-radius: 5px;
}

.content_feature_info-sale p {
    font-size: 1.4rem;
    margin-right: 10px;
}

.content_feature_info-sale i {
    margin: 0 10px;
    align-self: center;
    color: var(--white-color);
    font-size: 2rem;
}

.content_famous {
    padding: 0 13vw;
    margin-top: 40px;
}

.content_famous p {
    color: var(--white-color);
    font-size: 1.6rem;
    margin-left: 20px;
}

.content_famous_tag {
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
}

.content_famous-btn {
    text-decoration: none;
    background-color: var(--brown-color);
    color: var(--white-color);
    font-size: 1.8rem;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    margin: 10px 10px;
}

.content_famous-btn span {
    margin: auto;
}

.content_special {
    padding: 0 13vw;
    margin-top: 40px;
}

.content_special-text {
    color: var(--white-color);
    font-size: 1.6rem;
    margin-left: 20px;
}

.content_special_list {
    display: flex;
    justify-content: space-between;
}

.content_special-item {
    width: 280px; height: 280px;
    background-color: var(--brown-color);
    border-radius: 10px;
    position: relative;
}

.content_special-item img {
    flex: 1;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.content_special-info {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content_special-info p {
    color: var(--white-color);
    font-size: 1.8rem;
    margin: 20px auto 10px auto;
}

.content_special-info span {
    margin: 10px auto;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.content_community {
    padding: 0 13vw;
    margin-top: 40px;
}

.content_community-text {
    color: var(--white-color);
    font-size: 1.6rem;
    margin-left: 20px;
}

.content_community_box {
    display: flex;
}

.content_community_item {
    background-color: var(--brown-color);
    position: relative;
    display: flex;
    border-radius: 10px;
}

.content_community_item-img {
    flex-basis: 50%;
    width: 67%;
    border-radius: 10px 0 0 10px;
}

.content_community_info {
    flex-basis: 50%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.content_community_info-cmt {
    color: var(--white-color);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
}

.content_community_info_user {
    display: flex;
}

.content_community_info_user img {
    width: 25%;
}

.content_community_info_user_info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_community_info_user_info span:nth-child(1) {
    color: var(--white-color);
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.content_community_info_user_info span:nth-child(2) {
    color: var(--white-color);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content_community_info_user_info span:nth-child(3) {
    color: var(--white-color);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content_nongame {
    padding: 0 13vw;
    margin-top: 40px;
}

.content_nongame-text {
    color: var(--white-color);
    font-size: 1.6rem;
    margin-left: 20px;
}

.content_nongame_box {
    display: flex;
    justify-content: space-between;
}

.content_nongame_item {
    display: flex;
    flex-direction: column;
    background-color: var(--brown-color);
    width: 280px; height: 200px;
    position: relative;
    border-radius: 10px;
}

.content_nongame_item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.content_nongame_item-info {
    margin: auto;
}

.content_nongame_item-info span {
    color: var(--white-color);
    font-size: 1.8rem;
}

.content_nongame_item_price span {
    color: var(--white-color);
    font-size: 1.4rem;
    margin-right: 20px;
}

.content_nongame_item_price del {
    color: var(--white-color);
    opacity: 0.3;
    font-size: 1.4rem;
}

/* Footer */

.footer {
    margin-top: 50px;
    background: linear-gradient(45deg,rgba(214, 236, 113,0.1),rgba(163, 117, 201,0.1));
    height: 100px; width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 25px 25px 0 0;
}

.footer_left {
    margin: 0 20px;
    display: flex;
}

.footer_left-logo {
    color: var(--white-color);
    font-size: 4rem;
    margin: auto;
}

.footer_middle {
    margin: auto 0;
}

.footer_middle-about {
    color: var(--white-color);
    font-size: 2rem;
}

.footer_middle-info {
    color: var(--white-color);
    font-size: 1.3rem;
}

.footer_right {
    margin: auto 0;
}

.footer_right-about {
    color: var(--white-color);
    font-size: 2rem;
    line-height: 0;
}

.footer_right-icon {
    display: flex;
    justify-content: space-between;
}

.footer_right-social {
    text-decoration: none;
    color: var(--white-color);
    font-size: 2rem;
}